* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
}

a {
    text-decoration: none;
}

th svg {
   width: 22px !important;
   height: 22px !important;
   color: #42434f;
   margin-top: -12px;
   margin-left: 20px;
}

th i {
    font-size: 21px;
}

body {
    background-color: #000;
    overflow-x: hidden;
}

.navbar {
    background-color: #000 !important;
    padding: 1.4rem 1px 0px 0px;
    width: 100%;
    overflow-x: hidden;
}

.nav-logo {
    width: 18rem;
}

.nav-link {
    color: #667085;
    font-size: 1.05rem;
}

.navbar-nav {
    margin-left: -15rem !important;
}

.nav-link:hover {
    color: #d0d5dd;
    -webkit-transition: 300ms linear;
    transition: 300ms linear;
}

.nav-search {
    background-color: inherit;
    border: none;
    margin-top: 3px;
    color: #ffffff;
}

.nav-search::placeholder {
    color: #667085;
}

.nav-search:active,
.nav-search:focus {
    background-color: inherit;
    border: none !important;
    outline: none !important;
}

.fa-twitter,
.fa-discord {
    color: #667085;
}

.fa-twitter:hover,
.fa-discord:hover {
    color: #d0d5dd;
    -webkit-transition: 300ms linear;
    transition: 300ms linear;
}

.fa-bars {
    color: #ffffff;
}

.offcanvas {
    width: 10rem;
    padding: 10px 0px 0px 10px;
}

.offcanvas-body a {
    text-decoration: none;
    color: #667085;
    font-size: 17px;
    font-weight: 400;
    /* line-height: 24px; */
    margin-bottom: 32px !important;
}

.offcanvas-body span {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.side-btn {
    /* width: 100px !important; */
    border-radius: 8px;
    font-size: 16px;
    /* line-height: 24px; */
    font-weight: 600 !important;
    padding: 10px 18px !important;
    border: none;
    cursor: pointer;
    color: #000 !important;
    background: #fff;
    -webkit-transition: 300ms linear;
    transition: 300ms linear;
    transform: translateY(-5px);
}

.restore-btn {
    color: #667085;
    font-size: 16px;
    font-weight: 700;
}

.restore-btn:hover {
    background-color: inherit;
    color: #d0d5dd;
}



.create-btn {
    font-weight: 700;
    color: #fff;
    border: none !important;
    /* background-color: #ffffff; */
    background: linear-gradient(135deg,#b491ff 2.88%,#30f 98.14%);
    padding: 10px 18px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.create-btn:hover {
    color: #fff;
    -webkit-transition: 500ms linear;
    transition: 150ms linear;
    transform: translateY(-2px);
}

.d-flex {
    /* background-color: red; */
    min-width: 40%;
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.hero-section {
    width: 100vw;
    height: 95vh;
    padding-top: 10rem;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* background-color: red; */
}

.hero-section-content {
    width: 50vw;
    text-align: left;
}

.hero-right {
    text-align: center;
}

.modal {
    margin-top: 10rem;
}

.hero-svg {
    height: 3.5rem;
}

.hero-heading {
    font-size: 35px;
    color: #ffffff;
    line-height: 30px !important;
    font-weight: 600;
    margin-top: 16px;
}

.hero-sub-heading {
    color: #98a2b3;
    font-size: 17px;
    line-height: 30px;
    margin-top: 24px;
}

.btn-group {
    margin-top: 24px !important;
}

.hero-btn-1 {
    border: 1px solid #fff !important;
    color: #fff;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 18px;
    cursor: pointer;
    margin-right: 12px;
    text-decoration: none;
    border: none;
}

.hero-btn-1:hover,
.hero-btn-2:hover {
    -webkit-transition: 500ms linear;
    transition: 500ms linear;
    transform: translateY(-10px);
}

.hero-btn-2 {
    background-color: #ffffff;
    color: #000000;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 18px;
    cursor: pointer;
    text-decoration: none;
}

.hero-btn-3 {
    background: linear-gradient(135deg,#b491ff 2.88%,#30f 98.14%);
    color: #fff;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 0px;
    margin-left: 3rem;
    margin-right: 3rem;
    cursor: pointer;
    text-decoration: none;
}

.hero-btn-4 {
    background-color: inherit;
    color: #667085;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 0px;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 1rem;
    cursor: pointer;
    text-decoration: none;
}


.image-section {
    width: 50vw;
    height: 100%;
    /* text-align: right; */
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: red !important;
}

.image-section img {
    height: 10rem;
    width: 10rem;
    border-radius: 10px;
    /* position: absolute; */
    /* right: 0 !important; */
}

.image-section img:nth-child(2) {
    margin-top: -5rem !important;
    margin-left: -5rem;
    z-index: 99;
}

.image-section img:nth-child(3) {
    margin-left: -3.2rem;
    z-index: 100;
}

.quick-links {
    margin-bottom: 10rem;
}

.quick-links h1 {
    font-size: 49px;
    color: #ffffff;
    line-height: 60px !important;
    font-weight: 600;
    text-align: center;
    margin-bottom: 5rem;
}

.quick-links-svg {
    height: 2.5rem;
}

.card-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 8px 25px;
    grid-auto-flow: row;
    grid-template-areas:
        ". . . .";
}

.card {
    position: relative;
    background-color: #17191e;
    color: #ffffff;
    height: 14rem;
    width: 100%;
    border-radius: 8px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 20px 15px 0px 15px;
    overflow: hidden;
}

.card:hover {
    transform: translateY(-5px);
    -webkit-transition: 300ms linear;
    transition: 300ms linear;
}

.card p {
    font-size: 12px;
    margin-top: 12px;
    line-height: 25px;
    font-weight: 600;
}

.card h1 {
    font-size: 15px;
    font-weight: 600;
    margin-top: 10px;
}

.card a {
    position: absolute;
    background-color: #ffffff;
    color: #000000;
    width: 100%;
    font-weight: 600;
    font-size: 16px;
    border: 1px solid #ffffff;
    text-decoration: none;
    cursor: pointer;
    border-radius: 8px;
    padding: 5px 0px 5px 0px;
    bottom: 20px;
    max-width: 12rem;
}

.finds-section-heading h1 {
    color: #fff;
    font-size: 36px;
    font-weight: 600;
}

.finds-section-heading h1:hover {
    color: inherit;
}


.finds-section-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.finds-section-heading-left {
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
    /* min-width: 35%; */
    width: 40%;
}

.finds-section-heading-left a {
    font-size: 1rem;
    text-decoration: none;
    font-weight: 600;
}

.finds-section-heading-left a:nth-child(1) {
    font-size: .9rem;
    font-weight: 500;
    color: #fff;
    background-color: #17191e;
    padding-top: 8px;
    padding-left: 15px;
    padding-right: 15px;
    height: 2.3rem;
    border-radius: 25px;
    margin-top: -5px;
    cursor: pointer;
}

.finds-section-heading-left a:nth-child(1):hover {
    color: #fff;
}


.finds-section-heading-left a:nth-child(2) {
    color: #9c9da9;
    font-weight: 500;
}

.finds-section-heading-left a:nth-child(3) {
    color: #fff !important;
}

.finds-section-heading-left a:nth-child(4) {
    color: #9c9da9 !important;
}

.first-table {
    cursor: pointer;
}

.first-table:hover {
    background-color: #1a1625 !important;
}

.first-table td:nth-child(2) a {
    background: linear-gradient(135deg,#b491ff 2.88%,#30f 98.14%);
    padding: .5rem 2.5rem .5rem 2.5rem;
    border-radius: 7px;
    opacity: 1;
    display: flex;
    justify-content: center;
    /* justify-content: center; */
    margin-left: 3.5rem;
    margin-right: 3.5rem;
    font-size: 16px;
    margin-top: 1.1rem;
}

.first-table td:nth-child(3) {
    padding-top: 1.1rem;
}

.first-table td {
    color: #fff;
    font-size: .8rem;
    font-weight: 600;
}

.extra {
    display: flex;
}

.extra span {
    margin-top: 1.3rem;
    margin-left: 1rem;
}

.extra span h1 {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

.extra span p {
    color: #98a2b3;
    font-size: 12px;
    font-weight: 600;
}

th span button {
    text-decoration: none;
    background: linear-gradient(135deg,#b491ff 2.88%,#30f 98.14%);
    padding: .5rem 2.5rem .5rem 2.5rem;
    border-radius: 7px;
    opacity: 1;
    font-size: 16px;
    color: #fff;
    border: none;
    font-weight: 600;
}

th span button img {
    opacity: 10;
}

.icon-img {
    /* background-color: red; */
    height: 52px;
    width: 52px;
    margin-top: 1rem;
}

.icon-1 {
    background: url(/assets/1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.icon-2 {
    background: url(/assets/2.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.icon-3 {
    background: url(/assets/3.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.icon-4 {
    background: url(/assets/4.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.icon-5 {
    background: url(/assets/5.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.icon-6 {
    background: url(/assets/6.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.icon-7 {
    background: url(/assets/7.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.icon-8 {
    background: url(/assets/8.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.icon-9 {
    background: url(/assets/9.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.icon-10 {
    background: url(/assets/10.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.icon-11 {
    background: url(/assets/11.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.icon-12 {
    background: url(/assets/12.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.icon-13 {
    background: url(/assets/13.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.icon-14 {
    background: url(/assets/14.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.icon-15 {
    background: url(/assets/15.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.icon-16 {
    background: url(/assets/16.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.footer-section {
    margin-bottom: 13rem !important;
    margin-top: 13rem !important;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-content-left {
    text-align: left;
}

.footer-content-left h1 {
    color: #fff;
    font-size: 36px;
    font-weight: 600;
}

.footer-content-left p {
    color: #98a2b3;
    font-size: 16px;
}

.footer-content span {
    display: flex;
}

.footer-input {
    background-color: inherit;
    border: 1px solid #42434f;
    border-radius: 6px;
    color: #fff;
    padding: 10px 16px;
    font-size: 16px;
    line-height: 24px;
    margin-right: 16px;
}

.footer-input::placeholder {
    color: #667085;
    font-size: 16px;
}

.footer-btn {
    background-color: #fff !important;
    color: #000000;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    padding: 10px 18px;
    cursor: pointer;
    /* opacity: .5; */
}

.footer-btn-2 {
    background: linear-gradient(135deg,#b491ff 2.88%,#30f 98.14%);
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    /* line-height: 24px; */
    font-weight: 600;
    /* padding: 10px 18px; */
    cursor: pointer;
    height: 3.4rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.footer-input:focus,
.footer-input:active {
    outline: none;
    border: 1px solid #42434f;
}

.collections-section-heading h1 {
    color: #fff;
    font-size: 36px;
    font-weight: 600;
}

.collections-section-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.collection-section-heading-left  {
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
    /* min-width: 35%; */
    width: 20%;
}

.collection-section-heading-left a {
    font-size: 1rem;
    text-decoration: none;
    font-weight: 600;
    color: #9c9da9;
}

.collection-section-heading-left a:nth-child(1) {
    font-size: 16px;
    font-weight: 500;
}

.collection-section-heading-left a i {
    margin-top: 4px;
}

.second-table {
    cursor: pointer;
}

.second-table:hover {
    background-color: #1a1625 !important;
}

.second-table td {
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    white-space: nowrap;
}

.second-table td:nth-child(3),
.second-table td:nth-child(4),
.second-table td:nth-child(5) {
    padding-top: 1.8rem !important;
}

.second-table td img {
    margin-right: .8rem;
    margin-top: -6px;
}

.icon-17 {
    background: url(/assets/17.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.icon-18 {
    background: url(/assets/18.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.icon-19 {
    background: url(/assets/19.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.icon-20 {
    background: url(/assets/);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.icon-21 {
    background: url(/assets/21.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.icon-22 {
    background: url(/assets/22.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.icon-23 {
    background: url(/assets/23.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.icon-24 {
    background: url(/assets/24.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.icon-25 {
    background: url(/assets/25.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.icon-26 {
    background: url(/assets/26.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.icon-27 {
    background: url(/assets/27.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.icon-28 {
    background: url(/assets/28.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.icon-29 {
    background: url(/assets/29.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.icon-30 {
    background: url(/assets/30.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.icon-31 {
    background: url(/assets/31.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.icon-32 {
    background: url(/assets/32.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.activity-section {
    margin-top: 10rem;
}

.third-table {
    cursor: pointer;
}

.third-table:hover {
    background-color: #1a1625 !important;
}

.third-table td {
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    white-space: nowrap;
    /* padding-top: 1.8rem !important; */
}

.third-table td:nth-child(3),
.third-table td:nth-child(4) {
    padding-top: 1.8rem !important;
}

.third-table td img {
    margin-right: .8rem;
    margin-top: -6px;
}

.third-table td:nth-child(4) {
    /* background-color: linear-gradient(135deg,#b491ff 2.88%,#30f 98.14%) !important; */
    background: -webkit-linear-gradient(#b491ff, #30f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.icon-33 {
    background: url(/assets/33.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.icon-34 {
    background: url();
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.icon-35 {
    background: url(/assets/35.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.icon-36 {
    background: url(/assets/36.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.icon-37 {
    background: url(/assets/37.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.icon-38 {
    background: url(/assets/38.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.icon-39 {
    background: url(/assets/39.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.icon-40 {
    background: url(/assets/40.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.icon-41 {
    background: url(/assets/41.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.icon-42 {
    background: url(/assets/42.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.icon-43 {
    background: url(/assets/43.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.icon-44 {
    background: url(/assets/44.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.icon-45 {
    background: url(/assets/45.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.icon-46 {
    background: url(/assets/46.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.icon-47 {
    background: url(/assets/47.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.icon-48 {
    background: url(/assets/48.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}










@media screen and (max-width: 600px) {

    .hero-section {
        height: 90vh;
    }

    .btn-group {
        display: flex;
        flex-direction: column;
    }

    .hero-heading {
        font-size: 36px;
    }

    .hero-sub-heading {
        font-size: 16px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .hero-btn-1 {
        width: 100%;
        margin-bottom: 12px;
    }

    .hero-btn-2 {
        width: 100%;
    }

    .btn-group {
        margin-top: 40px !important;
    }

    .card p {
        padding: 0px 30px 0px 30px;
    }

    .card a {
        bottom: 30px;
    }
}

@media screen and (min-width: 991px) {
    .offcanvas {
        display: none;
    }
}

@media screen and (max-width: 1199px) {
    .card-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 25px 25px;
        grid-auto-flow: row;
        grid-template-areas:
            ". ."
            ". .";
    }
}

@media screen and (max-width: 600px) {
    .card-section {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 25px 25px;
        grid-auto-flow: row;
        grid-template-areas:
            "."
            "."
            "."
            ".";
    }

    .quick-links,
    .finds-section,
    .footer-section,
    .collection-section,
    .activity-section {
        padding-left: 1rem;
    }
}


@media screen and (min-width: 501px) and (max-width: 821px) {
    .footer-content {
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 500px) {
    .footer-content {
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .footer-content span {
        display: flex;
        flex-direction: column;
    }

    .footer-input {
        width: 100%;
        margin-top: 25px;
    }

    .footer-btn {
        width: 100%;
        margin-top: 16px;
    }
}


@media screen and (max-width: 768px) {
    .hero-section-content {
        width: 100vw !important;
        text-align: center;
    }

    .hero-heading {
        line-height: 47px !important;
    }

    .hero-sub-heading {
        font-size: 16px;
    }

    .hero-btn-1,
    .hero-btn-2 {
        display: none;
    }

    .finds-section-heading {
        flex-direction: column;
        text-align: center;
    }

    .finds-section-heading-left {
        text-align: center;
        justify-content: center;
        width: 100%;
        flex-direction: column;
    }

    .finds-section-heading-left a:nth-child(1) {
        margin: 2rem 4.5rem 2rem 4.5rem;
    }

    .finds-section-heading-left a:nth-child(3),
    .finds-section-heading-left a:nth-child(4) {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .hero-btn-3,
    .hero-btn-4 {
        display: none;
    }
}

@media screen and (max-width: 737px) {
    .gone-1 {
        display: none !important;
    }
}

@media screen and (min-width: 737px) {
    .gone-3 {
        display: none;
    }
}

@media screen and (max-width: 540px) {
    .gone-2 {
        display: none !important;
    }

    .first-table th span {
        width: 100%;
    }

    .first-table th span button {
        width: 90% !important;
    }

    .icon-img {
        height: 116px;
        width: 116px;
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        border-radius: 5px;
    }
}

@media screen and (min-width: 541px) {
    tr th span button {
        display: none;
    }
}

@media screen and (max-width: 821px) {

    .footer-content-left {
        text-align: center;
    }

    .footer-content span {
        margin-top: 1.5rem;
    }
}

@media screen and (max-width: 901px) {
    .gone-4 {
        display: none;
    }
}

@media screen and (max-width: 737px) {
    .gone-5 {
        display: none;
    }

    .table-heading-1 {
        display: none;
    }
}

@media screen and (min-width: 737px) {
    .second-table td:nth-child(2) span {
        display: none;
    }

    .third-table td:nth-child(2) span {
        visibility: hidden;
    }

    th svg,
    .fa-list-ul {
        display: none;
    }

    .table-heading-2 {
        display: none;
    }
}

@media screen and (max-width: 541px) {
    .second-table .extra span h1 {
        font-size: 16px;
        font-weight: 600;
    }

    .second-table .extra span p {
        font-size: 14px;
        font-weight: 600;
    }

    .second-table .icon-img {
        height: 52px;
        width: 52px;
    }

    .third-table .icon-img {
        height: 52px;
        width: 52px;
    }
}

@media screen and (max-width: 921px) {
    .gone-6 {
        display: none;
    }
}

@media screen and (max-width: 737px) {
    .gone-7 {
        display: none;
    }
    
    .third-table td {
        padding-top: 1.8rem !important;
    }

    .collections-section-heading {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .collection-section-heading-left {
        text-align: center;
        justify-content: center;
        width: 100%;
        flex-direction: column;
        margin-top: 1.3rem;
    }

    .collection-section-heading-left a:nth-child(2),
    .collection-section-heading-left a:nth-child(3) {
       display: none;
    }

    .collection-section-heading-left a:nth-child(2) {
        text-align: center;
    }

}

@media screen and (max-width: 348px) {
    .navbar-toggler {
        margin-left: -10rem;
    }
}







































































































































































/* RESTORE PAGE STYLESHEET */

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin-bottom: 10rem;
    /* background-color: red; */
}

.main-content {
    width: 100%;
    height: 80vh;
    background-color: #17191e;
    margin-top: 13rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 44px 16px;
}

.fa-arrow-left {
    color: #fcfcfd;
}

.main-content-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-content-top span {
    display: flex;
}

.line-1 {
    width: 80px;
    height: 4px;
    border-radius: 8px;
    background-color: #ffffff;
    margin-right: 5px;
}

.line-2 {
    width: 80px;
    height: 3px;
    border-radius: 8px;
    background-color: #ffffff !important;
    margin-right: 5px;
}

.line-3 {
    width: 80px;
    height: 3px;
    border-radius: 8px;
    background-color: #667085;
}

.line-2 {
    width: 80px;
    height: 3px;
    border-radius: 8px;
    background-color: red;
}

.main-content-top button {
    color: #667085;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    /* margin-top: 13px; */
    border: none;
    background-color: inherit;

}

.main-content-middle h1 {
    color: #ffffff;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
}

.main-content-middle p {
    color: #9c9da9;
    font-size: 16px;
    font-weight: 400;
    padding: 0px 25px 0px 25px;
}

textarea {
    background-color: #11121c;
    border: 1px solid #42434f;
    border-radius: 8px;
    color: #fff;
    padding: 10px 16px;
    font-size: 16px;
    line-height: 24px;
    resize: none;
}

textarea:active,
textarea:focus {
    border: 1px solid #42434f;
    outline: none !important;
}

.restore-submit-btn {
    width: 80%;
    background-color: #ffffff;
    color: #000000;
    border-radius: 8px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    padding: 10px 18px;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 734px) {

    .main-content {
        background-color: inherit;
        margin-top: 2.5rem !important;
        height: 90vh;
    }

    .main-content-middle p {

        padding: 0px 3px 0px 3px;
    }
}











/* CREATE WALLET PAGE STYLESHEET */

.line-4 {
    width: 60px;
    height: 4px;
    border-radius: 8px;
    background-color: #ffffff !important;
    margin-right: 5px;
}

.line-5 {
    width: 60px;
    height: 4px;
    border-radius: 8px;
    background-color: #667085;
    margin-right: 5px;
}

.create-wallet-svg {
    height: 6rem;
    margin-bottom: 24px;
}

.create-new-btn {
    width: 80%;
    background-color: #ffffff;
    color: #000000;
    border-radius: 8px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    padding: 10px 18px !important;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.create-new-btn-2 {
    width: 80%;
    background-color: inherit;
    color: #ffffff;
    border-radius: 8px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    padding: 10px 18px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    margin-top: 20px;
}

.spinner-border {
    font-size: 2.5rem;
    height: 4rem;
    width: 4rem;
    margin-top: 5rem;
}

@media screen and (min-width: 374px) and (max-width: 376px) {
    .line-5:nth-child(2) {
        display: none;
    }
}


/* DONATE PAGE */
.donate-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.3rem;
    padding-left: 4rem;
    padding-right: 4rem;
    background-color: #ffffff;
    color: #000000;
    border-radius: 6px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    /* padding: 10px 18px; */
    cursor: pointer;
    text-decoration: none;
}

.donate-btn:active,
.donate-btn:focus {
    border-radius: 6px;
}

.modal-content {
    text-align: center !important;
    background-color: #000;
    padding-top: 2rem;
    padding-bottom: 1rem;
}
.modal-header {
    border: none;
    text-align: center;
}
.header h1 {
    text-align: center !important;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
}
.modal-footer {
    border: none !important;
}

.modal-bottom p {
    font-weight: 700;
    color: #fff;
}

.modal-bottom button {
    border: none;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    background-color: inherit;
}

@media screen and (max-width: 768px) {
    .modal-bottom p:nth-child(2) {
        display: none;
    }
    .donate-btn {
        height: 4rem;
    }
}

@media screen and (min-width: 768px) {
    .modal-bottom p:nth-child(1) {
        display: none;
    }
}